POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ourcode

MINIO_USER=miniouser
MINIO_PASSWORD=minipassword

KEYCLOAK_ADMIN=kcadmin
KEYCLOAK_ADMIN_PASSWORD=kcpassword

REDIS_PASSWORD=redispassword

# Keycloak DB
KEYCLOAK_DB_USER=kc_user
KEYCLOAK_DB_PASSWORD=kc_pass
KEYCLOAK_DB_NAME=kc_db